= render 'invitation_requests/count_alert'
.pull-right
  = view_teams_link
  = edit_team_link(@team)
  = delete_team_link(@team)
%h1
  %small Team
  = @team.name
= render 'users/snapshots', users: @team.users
