!!! 5
%html
  %head
    %title Snapme
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span12
          - if current_user
            %div
              .pull-right= link_to 'Sign out', sign_out_path, method: :delete, rel: 'sign-out', class: %i(btn btn-primary)
              %h2
                %small Hey there,
                = current_user.username
              %p
                %span.muted You can start snapping with your auth token
                %strong= current_user.auth_token

          - if alert
            .alert.alert-error= alert
          - if notice
            .alert.alert-info= notice

          %hr/
          = yield

          = javascript_include_tag 'http://js.pusher.com/2.1/pusher.min.js'
          = javascript_include_tag 'application', 'data-turbolinks-track' => true
