<!DOCTYPE html>
<html>
<head>
  <title>Snapme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= alert %>
<%= notice %>

<% if current_user %>
  Signed in as <%= current_user.username %>
  <%= link_to 'Sign out', sign_out_path, method: :delete, rel: 'sign-out' %>
<% end %>

<%= yield %>
<%= javascript_include_tag 'http://js.pusher.com/2.1/pusher.min.js' %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
