!!! 5
%html
  %head
    %title Snapme
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span12
          - if alert
            .alert.alert-error= alert
          - if notice
            .alert.alert-info.disappear= notice

          - if current_user
            %div
              .pull-right= link_to 'Sign out', sign_out_path, method: :delete, rel: 'sign-out', class: %i(btn btn-danger)
              %h2
                %small Hey there,
                = current_user.username
              %p
                Your auth token is <code>#{current_user.auth_token}</code>.
                Start uploading snapshots with the CLI <code>gem install snapme</code>.
          - else
            .row.demo-tiles(style='margin-bottom:20px')
              .span6.offset3
                .tile
                  %h1 Welcome!
                  %p
                    Snapme is an <em>incredible</em> way to get a glipse at
                    your team from anywhere! We ask for the least authorization
                    possible from your chosen auth provider.

                  = link_to 'Want in?', new_invitation_request_path, rel: 'request-invitation', class: %i(btn btn-warning btn-large)

          %hr/
          = yield

          = javascript_include_tag 'http://js.pusher.com/2.1/pusher.min.js'
          = javascript_include_tag 'application', 'data-turbolinks-track' => true
